{% if section != blank %}
  <ul class="links-with-image__list list-unstyled">
    {%- for block in section.blocks -%}
      {%- if block.settings.collection_ref == blank and block.settings.link_text == blank and block.settings.link_url == blank -%}
        {%- continue -%}
      {%- endif -%}

      {%- if block.settings.link_text == blank or block.settings.link_url == blank -%}
        {%- if block.settings.collection_ref and block.settings.collection_ref.title == nil -%}
          {%- continue -%}
        {%- endif -%}
      {%- endif -%}

      {%- assign link_text = block.settings.link_text | default: block.settings.collection_ref.title -%}
      {%- assign link_url = block.settings.link_url | default: block.settings.collection_ref.url -%}

      <li class="links-with-image__list__item">
        <a href="{{- link_url | escape -}}" class="links-with-image__link p2 bold full-unstyled-link motion-reduce">
          <span>{{- link_text | escape -}}</span>

          {%- render 'arrow' -%}
        </a>
      </li><!-- /.links-with-image__list__item -->
    {%- endfor -%}
  </ul><!-- /.links-with-image__list -->
{% endif %}
