<section class="section-password">
  <div class="container section-password__container">
    <div class="section-password__body">
      <h3 class="section-password__title semi-bold">
        {{- 'general.password_page.heading' | t -}}
      </h3>

      <p class="section-password__text h6">
        {{- shop.password_message -}}
      </p>

      <small class="section-password__login medium">
        {{- 'general.password_page.admin_link_html' | t -}}
      </small>
    </div><!-- /.section-password__body -->

    <div class="section-password__footer">
      {% capture shopify %}
        <a class="shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
          {%- render 'icon-shopify' -%}

          <span class="shopify-name visually-hidden">Shopify</span>
        </a>
      {% endcapture %}

      <small class="section-password__footer-caption">
        {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
      </small>
    </div><!-- /.section-password__footer -->
  </div><!-- /.container -->
</section><!-- /.section-password -->

{% schema %}
{
  "name": "t:sections.section_password.name"
}
{% endschema %}
