/* ------------------------------------------------------------ *\
  Section Password
\* ------------------------------------------------------------ */

.section-password {
  padding: 5.9rem 0;
  height: 100%;
  text-align: center;
  color: var(--color-typography-primary);
}

.section-password p {
  margin: 0 0 1.5rem;
}

.section-password .icon-shopify {
  position: relative;
  top: -.2rem;
  margin-left: .7rem;
  margin-right: .1rem;
  width: 8.1rem;
  height: 2.3rem;
  vertical-align: top;
  color: var(--color-typography-body);
}

.section-password .shopify-link {
  text-decoration: none;
  color: inherit;
}

.section-password .link-underlined {
  color: inherit;
}

.section-password__text,
.section-password__footer {
  color: var(--color-typography-body);
}

.section-password__container {
  max-width: 76.8rem;
  margin: 0 auto;
}

.section-password__body {
  padding-bottom: 1.2rem;
}

.section-password__title {
  margin: 0 auto 1.9rem;
  letter-spacing: .1rem;
}

.section-password__login {
  display: block;
  padding: 1.8rem 0;
  letter-spacing: .025rem;
  font-size: 1.6rem;
}

.section-password__footer {
  padding: 3.4rem 0;
  border-top: .1rem solid var(--color-border-2);
}

.section-password__footer-caption {
  font-size: 1.28rem;
}

@media screen and (min-width: 990px) {
  .section-password p {
    margin-bottom: 2.1rem;
  }

  .section-password__body {
    padding-bottom: 2rem;
  }

  .section-password .icon-shopify {
    width: 10rem;
    height: 2.8rem;
  }

  .section-password__footer-caption {
    font-size: 1.6rem;
  }
}
