/* ------------------------------------------------------------ *\
  Article
\* ------------------------------------------------------------ */

.article {
  padding: 1.6rem 0 4rem;
}

.article a:not([class]) {
  color: inherit;
}

.article a:not([class]):hover {
  text-decoration-thickness: .2rem;
}

.article__breadcrumbs {
  padding: 0 1.6rem 2.9rem;
}

.article__tags {
  padding-bottom: 1.3rem;
  color: var(--color-typography-primary);
}

.article__tags a {
  color: inherit;
}

.article__tags-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.6rem;
}

.article__hero + .article__tags {
  padding-top: 2rem;
}

.article__head {
  padding-bottom: 2rem;
  text-align: center;
}

.article__hero + .article__head {
  padding-top: 2rem;
}

.article__title {
  margin: 0 0 1.2rem;
  font-size: calc(var(--font-heading-scale) * 2rem);
  letter-spacing: .08rem;
}

.article__meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.article__posted {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-typography-body);
}

.article__media {
  margin-bottom: 2rem;
}

.article__media.media--16-9 {
  padding-bottom: 59.25%;
}

.article__content {
  color: var(--color-typography-body);
  line-height: 1.54;
}

.article__content-inner {
  padding-top: 1.3rem;
}

.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6 {
  margin-top: 0;
  color: var(--color-typography-primary);
}

.article__content h1 {
  margin-bottom: 2.3rem;
}

.article__content h5 {
  margin-bottom: 2.8rem;
}

.article__content h6 {
  margin-bottom: 2.4rem;
}

.article__content p,
.article__content ul,
.article__content ol {
  margin: 0 0 2rem;
}

.article__content p:last-child {
  margin-bottom: 0;
}

.article__content table + * {
  margin-top: 2rem;
}

.article__content table tr:first-child td {
  font-weight: 700;
}

.article__content blockquote {
  margin: 0 2.4rem 2rem;
  font-style: italic;
}

.article__content img {
  margin-top: 1rem;
  margin-bottom: .6rem;
  max-width: 100%;
}

.article__foot {
  margin-top: 4rem;
}

.article__foot-inner {
  border-top: .1rem solid var(--color-border-1);
  border-bottom: .1rem solid var(--color-border-1);
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__socials {
  padding: 3rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.article__socials a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.article__socials svg {
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.article__socials a:hover svg {
  transform: scale(1.2);
}

.article__back {
  margin-top: 3rem;
}

.article__socials-sharing + .article__back {
  margin-top: 2rem;
}

.article .button {
  box-sizing: border-box;
  font-size: 1.2rem;
}

.article .button--chevron > svg {
  margin-top: 0;
}

.article .badge {
  border: .1rem solid var(--color-border-1);
}

.article--comments-disabled .article__foot-inner {
  border-top: .1rem solid var(--color-border-1);
  border-bottom: 0;
}

@media screen and (min-width: 750px) {
  .article {
    padding: 2.4rem 0 8.2rem;
  }

  .article__breadcrumbs {
    padding: 0 2.4rem 5.9rem;
  }

  .article__tags {
    padding-bottom: 2.8rem;
  }

  .article__tags-list {
    gap: 2.2rem;
  }

  .article__title {
    margin-bottom: 3.2rem;
    letter-spacing: .1rem;
    font-size: calc(var(--font-heading-scale) * 3.9rem);
  }

  .article__posted {
    font-size: 1.3rem;
  }

  .article__head {
    padding-bottom: 3.8rem;
  }

  .article__hero + .article__tags {
    padding-top: 3.4rem;
  }

  .article__hero + .article__head {
    padding-top: 3.4rem;
    padding-bottom: 2rem;
  }

  .article__media.media--16-9 {
    padding-bottom: 56.75%;
  }

  .article__content {
    line-height: 1.6;
  }

  .article__content h1,
  .article__content h4,
  .article__content h5 {
    margin-bottom: 4.4rem;
  }

  .article__content h6 {
    margin-bottom: 5rem;
  }

  .article__content table + * {
    margin-top: 2.9rem;
  }

  .article__content p,
  .article__content ul,
  .article__content ol,
  .article__content blockquote {
    margin-bottom: 2.9rem;
  }

  .article__content img {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }

  .article__content-inner {
    padding-top: 3rem;
  }

  .article__socials {
    padding-top: 4.6rem;
  }

  .article__back {
    margin-top: 4.6rem;
  }

  .article__socials-sharing + .article__back {
    margin-top: 2.8rem;
  }

  .article__foot {
    margin-top: 4.9rem;
  }

  .article__foot-inner {
    padding-bottom: 4.6rem;
  }
}

@media screen and (min-width: 990px) {
  .article__breadcrumbs {
    max-width: 144rem;
    padding-left: 5.6rem;
    padding-right: 5.6rem;
  }
}

/*  Comments  */

.article__comments-wrapper {
  padding: 3.6rem 0 2.4rem;
}

.article__comments-wrapper h2 {
  margin: 0 0 1.8rem;
  text-align: center;
  letter-spacing: .06rem;
}

.article__comments-wrapper h2:focus-visible {
  outline: none;
}

.article__comment {
  margin-bottom: 1.6rem;
  padding: 2.4rem;
  background: var(--color-background-bg-1);
}

.article__comment-foot {
  font-weight: 500;
}

.article__comment p {
  margin: 0 0 .8rem;
  line-height: 1.54;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.form__message--error,
.article__comments-message--error {
  color: var(--color-red);
}

.form__message--error {
  padding-bottom: .5rem;
}

.article__comments-message .form__message {
  margin-top: 1.1rem;
  align-items: flex-start;
  font-size: 1.6rem;
  line-height: 1.6;
}

.article__comments-message .form__message svg {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}

.article__comments-wrapper .pagination-wrapper {
  margin: 2.3rem 0;
  padding: 0;
}

.comment-form {
  padding-top: 2.2rem;
}

.comment-form > h2 {
  margin-bottom: 2.2rem;
  text-align: left;
}

.comment-form .form__row,
.comment-form .form__row.double > * {
  margin-bottom: 1.6rem;
}

.comment-form .button {
  min-width: 19.3rem;
  letter-spacing: .06rem;
}

.article__comments-wrapper--no-comments .comment-form {
  padding-top: 0;
}

@media screen and (min-width: 750px) {
  .article__comments-wrapper {
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }

  .article__comments-wrapper h2 {
    margin-bottom: 2.6rem;
  }

  .article__comment {
    margin-bottom: 2.4rem;
  }

  .article__comment p {
    margin-bottom: 1.1rem;
    line-height: 1.6;
  }

  .article__comments {
    border-bottom: .1rem solid var(--color-border-1);
    padding-bottom: 4.8rem;
  }

  .article__comments-wrapper .pagination-wrapper {
    margin: 3rem 0 0;
  }

  .comment-form {
    padding-top: 4.4rem;
  }

  .comment-form > h2 {
    margin-bottom: 2rem;
  }

  .comment-form .form__row.double > * {
    margin-bottom: 0;
  }

  .article__comments-message .form__message {
    margin-bottom: 2.4rem;
  }

  .article__comments-fields {
    padding-bottom: .4rem;
  }
}
