/* ------------------------------------------------------------ *\
	Template Cart
\* ------------------------------------------------------------ */

.template--cart .products-carousel {
	padding: 2.9rem 0 5.2rem;
}

.template--cart .products-carousel__head {
	margin-bottom: 2.5rem;
}

.template--cart .products-carousel__title {
	letter-spacing: .06rem;
}

.template--cart .product-card__media {
	margin-bottom: 1.3rem;
}

.template--cart .product-card__title {
	margin-bottom: .3rem;
}

.template--cart .product-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.template--cart .product-card__price {
  min-width: 50%;
  margin-bottom: .7rem;
}

.template--cart .product-card__swatches {
  flex: 1;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (min-width: 990px) {
	.template--cart .container,
	.template--cart .container--md-left {
		padding: 0 5.6rem;
		max-width: 121.6rem;
	}

	.template--cart .container--fullwidth {
		max-width: none;
	}

	.template--cart .products-carousel {
		padding: 5rem 0 9rem;
	}

	.template--cart .products-carousel__head {
		margin-bottom: 5rem;
	}

	.template--cart .products-carousel__title {
		letter-spacing: .1rem;
	}

	.template--cart .products-carousel__control {
		margin-right: 1.8rem;
	}

	.template--cart .products-carousel__control:last-child {
		margin-right: 0;
	}

	.template--cart .product-card__media {
		margin-bottom: 1.8rem;
	}

	.template--cart .product-card__title {
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 1200px) {
	.template--cart .products-carousel {
		padding: 8.7rem 0 12rem;
	}

	.template--cart .products-carousel__head {
		margin-bottom: 6.8rem;
	}
}

@media screen and (min-width: 1440px) {
	.template--cart .products-carousel__controls {
		position: relative;
		top: .1rem;
		margin-right: -11.2rem;
	}
}
